.calcDivMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 10px;
    padding-top: 50px;
    flex-shrink: 0;
    width: 370px;
    margin: auto;

}

.buttonDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    margin-bottom: 30px;
    flex:1;
}

.row {
    display: flex;
    gap: 10px;
    flex:1;
}

#outerDisplay {
    border: solid;
    border-color: black;
    padding-top: 20px;
    margin-bottom: 5px;
    display:flex;
    flex: none;
    flex-direction: column;
    justify-content: right;
    align-items:flex-end;
    width: 300px;
    height: 40px;
}

#display {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

#secondDisp {
    display: flex;
    justify-content: right;
    align-items: flex-start;
}

.button {
    padding: 30px;
    display:flex;
    border-radius: 5px;
    flex: 1;
}